# Imbalanced Dataset:

#### A dataset with an unequal class distribution

In [1]:
# importing the dependencies
import numpy as np
import pandas as pd

In [2]:
credit_card_data = pd.read_csv(r'credit_data.csv')

In [3]:
# first 5 rows of the dataframe
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
# distribution of the two classes
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64


This is Highly Imbalanced Dataset

0 --> Legit Transactions

1 --> Fraudulent Transactions

In [5]:
# separating the legit and fraudulent transactions
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [6]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)


Under-sampling

Build a sample dataset containing similar distribution of Legit & Fraudulent Transactionds

Number of Fraudulent Transactions --> 492

In [7]:
legit_sample = legit.sample(n=492)

Concatenate the Two DataFrames

In [11]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
175186,122232.0,2.023319,-0.188661,-1.267944,0.204564,0.098280,-0.619929,0.066777,-0.140466,0.368353,...,-0.263892,-0.712414,0.259956,-0.501958,-0.282980,0.207607,-0.080448,-0.073088,16.98,0
204634,135372.0,1.924953,0.591683,-0.467123,3.560266,0.451973,0.121462,0.051206,0.028083,-0.947053,...,-0.461198,-1.524764,0.592575,0.510001,-0.635515,-0.665315,-0.032935,-0.024306,7.56,0
114125,73344.0,-0.208312,-0.119975,2.725671,1.915624,-1.671839,1.168641,-1.034240,-0.222766,1.094128,...,0.672084,-0.321451,-0.198540,0.514910,1.274809,-0.005316,0.157103,0.164130,79.00,0
55487,46964.0,-0.643513,0.277343,2.545480,-0.483267,-1.018850,-0.297779,0.064206,0.125454,0.144069,...,0.319101,0.789630,-0.052107,0.466210,-0.294555,1.089228,0.026008,0.110223,73.21,0
130159,79297.0,-0.199024,1.345598,-0.270515,0.720846,0.799786,-0.185346,0.679135,0.253922,-0.970596,...,0.224875,0.693559,-0.052662,-0.721721,-0.741681,-0.354927,0.146060,0.164297,4.24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [10]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

Equal Dist between Legit and Fraudulent transactions